<section class="tw-hidden lg:tw-block tw-w-full tw-bg-cover tw-bg-no-repeat tw-px-12" style="background-image: url('{{ 'affiliate-slider-desktop.png' | asset_img_url: 'master' }}'); height: 80vh;">
<div class="tw-flex tw-items-center tw-relative tw-top-1/2" style="transform:translateY(-50%);">
    <div class="tw-flex tw-flex-col tw-items-start tw-text-white">
        <h1 class="tw-text-7xl tw-font-serif tw-font-light tw-tracking-normal tw-mb-0" style="margin-bottom: -10px;">Partner with us</h1>
        <p class="tw-max-w-sm tw-text-lg">Discover the perks of partnering with Sheertex's affiliate and influencer programs.</p>
        <div class="">
            <a class="tw-border-0 tw-rounded-3xl tw-px-12 msm:tw-px-16 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-mx-auto tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading" href="https://www.sheertex.com/pages/affiliate-program">
                Learn More
            </a>
        </div>
    </div>
</div>
</section>


<section class="tw-hidden lg:tw-block tw-py-12 tw-px-8 tw-text-white tw-bg-cover tw-bg-no-repeat" style="background-image: url('{{ 'affiliate-about-desktop.png' | asset_img_url: 'master' }}'); height: 70vh;">
    <div class="tw-flex tw-justify-around tw-items-center tw-h-full">
        <div class="tw-w-1/2 tw-flex tw-flex-col tw-items-center tw-justify-center tw-text-4xl tw-tracking-normal">
            <h2>About Us</h2>
        </div>
        <div class="tw-w-1/2 tw-max-w-md">
            <p class="tw-text-lg">We're the creators of Sheertex tights, Brae intimates, and Unsung socks—all powered by Sheertex Knit Technology. Made with one of the world's strongest polymers, our impossibly
                resilient knit is transforming the fashion industry and giving the world one more reason to say goodbye to disposable apparel.</p>
            <p class="tw-text-lg">Our mission is rooted in sustainability: All of our products are responsibly designed and produced in Montreal, Canada, with the aim of significantly reducing the number of tights that end up in 
                 landfills. We're so confident in the durability of our products that each one comes with a no-snag guarantee of up to 90 days.</p>
        </div>
    </div>
    
</section>


<section class="tw-hidden lg:tw-flex tw-flex-col tw-items-center tw-p-12" id="affiliate-learn">
    <h2 class="tw-mb-12 tw-text-4xl">Become a partner</h2>
    <div class="tw-flex">
        <div class="tw-w-1/2 tw-mx-2 tw-px-12 tw-py-12 tw-bg-purple-200 tw-mb-8 tw-text-base tw-hidden lg:tw-block tw-rounded-lg">
            <div class="">
                <h2 class="tw-text-4xl">Affiliate Program</h2>
                <p class="tw-max-w-sm">As an affiliate partner for Sheertex, you’ll earn a 1% commission or more on every product sale, with more competitive rates 
                available for our premium partners. Join today to gain access to our full suite of affiliate assets and benefits.</p>
                <div class="">
                    <a class="tw-border-0 tw-rounded-3xl tw-px-12 msm:tw-px-8 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-mx-auto tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading" href="https://www.sheertex.com/pages/affiliate-program">
                        Learn More
                    </a>
                </div>
            </div>  
        </div>
        
        <div class="tw-w-1/2 tw-mx-2 tw-px-12 tw-py-12 tw-bg-peach tw-text-base tw-mb-8 tw-hidden lg:tw-block tw-rounded-lg">
            <div class="">
                <h2 class="tw-text-4xl">Influencer Program</h2>
                <p class="tw-max-w-sm">Are you an Influencer? Do you have a loyal fanbase? Are you interested in collaborating with Sheertex and creating content to promote our brand on your social media profile and/or blog?</p>
                <div class="">
                    <a class="tw-border-0 tw-rounded-3xl tw-px-12 msm:tw-px-8 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-mx-auto tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading" href="https://www.sheertex.com/pages/influencer-program">
                        Learn More
                    </a>
                </div>
            </div>  
        </div>
    </div>
    
</section>
