<section class="tw-w-screen tw-h-[80vh] tw-flex tw-flex-col tw-justify-end tw-px-8 tw-py-24 tw-bg-cover tw-bg-no-repeat lg:tw-hidden" style="background-image: url('{{ 'affiliate-slider-mobile.png' | asset_img_url: 'master' }}'); height: 80vh;">
    <div class="">
        <div class="tw-flex tw-flex-col tw-items-start tw-text-white">
            <h1 class="tw-text-5xl tw-font-serif tw-max-w-xs tw-font-light tw-tracking-normal">Partner <br class=""> with us</h1>
            <p class="tw-max-w-xs">Discover the perks of partnering with Sheertex's affiliate and influencer programs.</p>
            <div class="">
                <a class="tw-border-0 tw-rounded-3xl tw-px-12 msm:tw-px-16 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-mx-auto tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading" href="#affiliate-learn">
                    Learn More
                </a>
            </div>
        </div>
    </div>
    <div class=""></div>
</section>

<section class="tw-px-6 tw-py-12 tw-text-center lg:tw-hidden">
    <div class="tw-flex tw-flex-col tw-justify-center tw-items-center">
        <h2 class="tw-text-4xl tw-tracking-normal">About us</h2>
        <p class="tw-max-w-sm">We're the creators of Sheertex tights, Brae intimates, and Unsung socks—all powered by Sheertex Knit Technology. Made with one of the world's strongest polymers, our impossibly
           resilient knit is transforming the fashion industry and giving the world one more reason to say goodbye to disposable apparel.</p>
           <p class="tw-max-w-sm">Our mission is rooted in sustainability: All of our products are responsibly designed and produced in Montreal, Canada, with the aim of significantly reducing the number of tights that end up in 
            landfills. We're so confident in the durability of our products that each one comes with a no-snag guarantee of up to 90 days.</p>
    </div>
</section>

<section class="tw-mx-2 tw-px-6 tw-py-12 tw-bg-purple-200 tw-mb-8 tw-text-base lg:tw-hidden" id="affiliate-learn">
    <div class="">
        <h2 class="tw-text-4xl">Affiliate Program</h2>
        <p>As an affiliate partner for Sheertex, you’ll earn a 1% commission or more on every product sale, with more competitive rates 
        available for our premium partners. Join today to gain access to our full suite of affiliate assets and benefits.</p>
        <div class="">
            <a class="tw-border-0 tw-rounded-3xl tw-px-12 msm:tw-px-8 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-mx-auto tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading" href="https://www.sheertex.com/pages/affiliate-program">
                Learn More
            </a>
        </div>
    </div>  
</section>

<section class="tw-mx-2 tw-px-6 tw-py-12 tw-bg-peach tw-text-base tw-mb-4 lg:tw-hidden">
    <div class="">
        <h2 class="tw-text-4xl">Influencer Program</h2>
        <p>Are you an Influencer? Do you have a loyal fanbase? Are you interested in collaborating with Sheertex and creating content to promote our brand on your social media profile and/or blog?</p>
        <div class="">
            <a class="tw-border-0 tw-rounded-3xl tw-px-12 msm:tw-px-8 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-mx-auto tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading" href="https://www.sheertex.com/pages/influencer-program">
                Learn More
            </a>
        </div>
    </div>  
</section>