
<section class="tw-w-screen tw-h-[80vh] tw-flex tw-flex-col tw-justify-end tw-px-8 tw-py-24 tw-bg-cover tw-bg-no-repeat lg:tw-hidden" style="background-image: url('{{ 'affiliate-program-slider-mobile.png' | asset_img_url: 'master' }}'); height: 80vh;">
    <div class="">
        <div class="tw-flex tw-flex-col tw-items-start tw-text-white">
            <h1 class="tw-text-5xl tw-font-serif tw-max-w-xs tw-font-light">Affiliate <br class=""> Program</h1>
        </div>
    </div>
    <div class=""></div>
</section>

<section class="tw-bg-purple-200 tw-px-8 tw-py-12 lg:tw-hidden">
    <div class="tw-flex tw-flex-col tw-items-start">
        <h2 class="tw-text-3xl">Benefits</h2>
        <ul class="tw-list-inside tw-ml-0 tw-mb-8">
            <li>Our Program Baseline Rate is 1%.</li>
            <li>All conversions are tracked within a 30-day cookie window.</li>
        </ul>
        <img src="{{ 'OPMpros-Mobile.png' | asset_url }}" alt="" class="tw-max-w-xs md:tw-max-w-md">
        <h2 class="tw-mt-8 tw-text-3xl">How it works</h2>
        <p>Apply to our program through Rakuten Advertising (MID: 44918).</p>
        <p>We use this platform for tracking, reporting, and payment purposes. If you don't already have a Rakuten publisher account, <a href="https://signup.linkshare.com/publishers/registration/landing?mid=44918" class="tw-font-bold">sign up now.</a></p>
        <p>As an affiliate partner, you’ll use this network to grab text links, banners, and tracking links for your site. You’ll also get access to numerous reports where KPIs such as clicks, orders, sales,
         and commissions generated will be explicitly shared with you with full transparency and in real time.</p>
         
    </div>
</section>

<div class="tw-bg-white tw-px-8 tw-py-12 lg:tw-hidden">
    <p class="tw-max-w-sm">If you're interested in learning more about this partnership opportunity, please reach out to <a href="mailto:sheertex@opmpros.com" class="tw-font-bold">sheertex@opmpros.com</a>.</p>
    <div class="">
        <a class="tw-border-0 tw-rounded-3xl tw-px-12 msm:tw-px-8 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-mx-auto tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading" href="mailto:sheertex@opmpros.com">
            Email Us
        </a>
    </div>
 </div>