<!-- Markup for medium-screen devices and above -->
<div class="content-wrap no-mobile">
  <!--
Insert HTML Code here..
-->
  <img src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Long-Weekend-Sale-Web.gif?v=1602259627" alt=""/>
</div>

<!-- Markup for small-screen devices -->
<div class="content-wrap mobile-only">
  <!--
Insert HTML Code here..
-->
  <img src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Long-Weekend-Sale-Web-Mobile.gif?v=1602259627" alt=""/>
</div>


