
<div class="tw-w-full tw-h-full tw-items-start tw-justify-start tw-whitespace-nowrap tw-hidden lg:tw-flex">  
   {% for block in blocks %}
   {% case block.type %}
   {% when 'navigation-menu' %}   
      {% include 'header-navigation-menu-desktop', block: block %}              
   {% when 'deal_of_the_day' %}     
      <button class="tw-mr-4 __deal-item__BlJTI" type="button" onclick="window.open('{{ block.settings.deal_menu_link }}',  '_self')"><span class="hover:tw-bg-green-200">{{ block.settings.deal_menu_title }}</span></button>
   {% endcase %}
   {% endfor %}  
</div>     
<div class="tw-w-full tw-h-full tw-items-center tw-justify-start tw-whitespace-nowrap tw-flex lg:tw-hidden">
    {% for block in blocks %}
    {% case block.type %}     
    {% when 'navigation-menu-mobile' %} 
      {% include 'header-navigation-menu-mobile', block: block %}      
    {% endcase %}
    {% endfor %}         
</div>

<style>  
   .__deal-item__BlJTI {
      letter-spacing: .1em;
      text-transform: uppercase;
      line-height: 1.2;
      font-size: .75rem;
      font-family: Agrandir,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";    
      font-weight: 500;
      margin: 0;        
      padding: 0;
      height: 100%;
      margin-right: 32px;
   } 
</style>