<div class="tw-hidden lg:tw-flex" style="height: 700px;">
    <section class="tw-w-1/2 tw-flex tw-flex-col tw-justify-center tw-items-center tw-px-8 tw-py-24 tw-bg-cover tw-bg-no-repeat" style="background-image: url('{{ 'influencer-program-slider-desktop.png' | asset_img_url: 'master' }}');">
        <div class="">
            <div class="tw-flex tw-flex-col tw-items-start tw-justify-center tw-text-white">
                <h1 class="tw-text-5xl tw-font-serif tw-font-light tw-tracking-normal">Influencer Program</h1>
            </div>
        </div>
        <div class=""></div>
    </section>

    <div class="tw-w-1/2" style="height: 700px;">
        <section class="tw-bg-peach tw-px-8 tw-py-8" style="height: 700px;">
            <div class="tw-flex tw-flex-col tw-items-start tw-max-w-lg">
                   <p class="tw-text-base">We currently offer two programs for you to choose from:</p>
                <ul class="tw-list-inside tw-ml-0 tw-mb-8">
                    <li class="tw-font-serif tw-text-xl">Sponsored Influencer Program</li>
            <li class="tw-font-serif tw-text-xl">Brand Ambassadorship Program</li>
                </ul>
                <h2 class="tw-mt-8 tw-text-3xl">How it works</h2>
                <p>Join our #lifeinsheertex and #sheerleaders communities and be the first to know about our new product launches, PR events, and sponsored campaign objectives.</p>
        <p>We invite influencers of all sizes to apply, and we'll be sure to let you know if the partnership's the right fit!</p>
        <p>Benefit from gifted products, up to 20% commissions, and flat-fee payments depending on the direction we're taking.</p>
                 
            </div>
            <div class="tw-mt-8 tw-pb-5 tw-bg-peach">
                <p class="tw-max-w-sm">If you would like to collaborate with us, please send an email to <a href="mailto:ambassadors@sheertex.com" class="tw-font-bold">ambassadors@sheertex.com</a> to introduce yourself and please make sure to include all your relevant social handles (with stats!).</p>
                <div class="tw-mt-8">
                    <a class="tw-border-0 tw-rounded-3xl tw-px-12 msm:tw-px-8 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-mx-auto tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading" href="mailto:ambassadors@sheertex.com">
                        Email Us
                    </a>
                </div>
             </div>
        </section>
        
        
    </div>

</div>




