{% comment %}V4.5.0 - August 2021
This liquid snippet is used by Discount Ninja
Do not modify or remove this snippet, this snippet can be overwritten when the app is upgraded
{% endcomment %}

<div style="display:none" class="limoniapps-discountninja-progressbar-wrapper">
  <div class="limoniapps-discountninja-progressbar" data-offer-token="[[TOKEN]]">
    <p class="limoniapps-discountninja-progressbar-text">[[BODY]]</p>
    <div class="limoniapps-discountninja-progressbar-bar-wrapper">
      <div class="limoniapps-discountninja-progressbar-bar-outer">
        <div class="limoniapps-discountninja-progressbar-bar-inner"></div>
      </div>
    </div>
  </div> 
</div>