{% comment %}V4.5.0 - August 2021
This liquid snippet is used by Discount Ninja
Do not modify or remove this snippet, this snippet can be overwritten when the app is upgraded
{% endcomment %}

<div id="limoniapps-promotionsummary-template" style="display:none;">
  <div class="limoniapps-discountninja-subtotalcomment-summary-table" data-token="ALL-TOKENS">
    <div class="limoniapps-discountninja-subtotalcomment-summary-header" style="[[SHOWHEADER]]">[[HEADER]]</div>
    <div class="limoniapps-discountninja-subtotalcomment-summary-body">[[BODY]]</div>
    <div class="limoniapps-discountninja-subtotalcomment-summary-promotioncodefield" style="[[SHOWPROMOTIONCODEFIELD]]"></div>
    <div class="limoniapps-discountninja-subtotalcomment-summary-footer" style="[[SHOWFOOTER]]">
      <div style="[[SHOWLEGACYFOOTER]]">
      [[FOOTER]]
      </div>
      <div class="limoniapps-discountninja-cartsummary-table" style="[[SHOWNEWFOOTER]]">
        <div class="limoniapps-discountninja-cartsummary-row limoniapps-discountninja-cartsummary-row-subtotal" style="[[SHOWSUBTOTAL]]">
          <div class="limoniapps-discountninja-cartsummary-cell limoniapps-discountninja-cartsummary-cell-label limoniapps-discountninja-cartsummary-cell-subtotal-label">[[SUBTOTAL_LABEL]]</div>
          <div class="limoniapps-discountninja-cartsummary-cell limoniapps-discountninja-cartsummary-cell-amount limoniapps-discountninja-cartsummary-cell-subtotal-amount">[[SUBTOTAL]]</div>
        </div>
        <div class="limoniapps-discountninja-cartsummary-row limoniapps-discountninja-cartsummary-row-discount limoniapps-discountninja-whencartdiscounted-show" style="[[SHOWTOTALDISCOUNT]]">
          <div class="limoniapps-discountninja-cartsummary-cell limoniapps-discountninja-cartsummary-cell-label limoniapps-discountninja-cartsummary-cell-discount-label">[[TOTALDISCOUNT_LABEL]]</div>
          <div class="limoniapps-discountninja-cartsummary-cell limoniapps-discountninja-cartsummary-cell-amount limoniapps-discountninja-cartsummary-cell-discount-amount">[[TOTALDISCOUNT]]</div>
        </div>
        <div class="limoniapps-discountninja-cartsummary-row limoniapps-discountninja-cartsummary-row-total" style="[[SHOWTOTAL]]">
          <div class="limoniapps-discountninja-cartsummary-cell limoniapps-discountninja-cartsummary-cell-label limoniapps-discountninja-cartsummary-cell-total-label">[[TOTAL_LABEL]]</div>
          <div class="limoniapps-discountninja-cartsummary-cell limoniapps-discountninja-cartsummary-cell-amount limoniapps-discountninja-cartsummary-cell-total-amount">
            <span class="limoniapps-discountninja-cart-subtotal-price">[[TOTAL]]</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="limoniapps-promotionsummary-row-template" style="display:none;">
  <div class="limoniapps-discountninja-subtotalcomment-summary-row">[[ROW]]</div>
</div>