{% style %}
@media(min-width: 640px) {
    .test-page-hero {
      min-height: 45vw;
    }
}

@media(max-width: 640px) {
  .test-page-hero {
    min-height: 45vh;
  }
}

.test-press-sec {
  background: #f1e7db;
}

.gizmodoContainer, .timeContainer, .bustleContainer {
  background: transparent;
}

.testkit-body-subline {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.24px;
  text-align: center;
}

.testkit-hero-subline {
  font-family: Matiere S;
  font-size: 44px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
}
{% endstyle %}

<section class="test-page-hero tw-relative tw-flex tw-items-center tw-justify-center tw-mb-12 tw-overflow-hidden msm:tw-hidden">
  <div class="tw-relative tw-z-20 tw-text-center">
    <p class="tw-uppercase tw-mb-6 tw-font-bold tw-font-sans tw-font-heading"><span class="tw-bg-green-200 tw-px-4 tw-py-1">Trial offer</span></p>
    <div class="testkit-hero-subline tw-text-white tw-font-serif tw-font-medium tw-font-leading">Curious but not <br>yet convinced?</div>
  </div>
  <video class="tw-absolute tw-z-10 tw-w-auto tw-min-w-full tw-min-h-full tw-max-w-none" autoplay playsinline loop muted>
    <source src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Test_kit_hero_loop.webm?v=1628535277" type='video/webm; codecs=vp9,vorbis'>
    <source src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Test_kit_hero_loop.mp4?v=1628269197" type="video/mp4" />
  </video>
</section>

<section class="test-page-hero tw-relative tw-flex tw-items-center tw-justify-center tw-mb-12 tw-overflow-hidden sm:tw-hidden">
  <div class="tw-relative tw-z-20 tw-text-center">
    <p class="tw-uppercase tw-mb-6 tw-font-bold tw-font-sans tw-font-heading"><span class="tw-bg-green-200 tw-px-4 tw-py-1">Trial offer</span></p>
    <h1 class="testkit-hero-subline tw-text-white tw-font-serif tw-font-medium tw-font-leading">Curious but not <br>yet convinced?</h1>
  </div>
  <img class="tw-absolute tw-z-10" 
    src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/StressTest-13.jpg?v=1628513051" alt="test-kit-hero" />
</section>

<section class="tw-text-center tw-my-16">
  <p class="tw-text-4xl msm:tw-text-2xl tw-font-serif tw-leading-tight tw-text-center tw-font-light">Put us to the test. Get a $10 credit.</p>
  <div class="msm:tw-text-sm msm:tw-px-4 testkit-body-subline sm:tw-max-w-xl tw-mx-auto tw-mt-8 tw-mb-4">
    Ever since we created the World’s Most Resilient Tights, we’ve had our share of skeptics.
    We get it. It seems too good to be true, (we assure you, it’s not). That’s why we’re offering you 
    the chance to put our resilient knit to the test. </div>
</section>

<div class="tw-uppercase tw-mb-6 tw-font-bold tw-text-center tw-font-sans tw-font-heading tw-mt-12 tw-px-4"><a href=" https://www.sheertex.com/cart/31686925680711:1">Get your test kit</a></div>
