<section class="tw-block sm:tw-hidden tw-ml-4">
    <h2 class="tw-text-center tw-mb-6" style="font-size: 1.75rem;">#LifeInSheertex</h2>
    <div class="ugc-container-m  tw-container">
        <div class="ugc-slider-m">
        {% if product.handle != 'no-sweat-shortie' %}
            <div class="ugc-slide-m">
                <img src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/andresopoco_PinstripeShapingSheerTights_copy.jpg?v=1618930423" alt="pinstripeShapingSheerTights">
                <div class="tw-flex tw-items-start tw-justify-between">
                    <div class="ugc-title-m tw-text-black tw-pt-3">Pinstripe Shaping Sheer Tights</div>
                    <div class="ugc-handle-m tw-text-black tw-pt-3">@andresopoco</div>
                </div>
                <div class="ugc-cta-m tw-pt-2 tw-text-black"><a class="" href="https://www.sheertex.com/products/pinstripe-shaping-sheer-tights">Shop Now</a></div>
            </div>
            <div class="ugc-slide-m">
                <img src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/angkiriakos_ColorPopLuxurySemi-SheerTights.jpg?v=1618930793" alt="baeverlyheels-ultrasheertights">
                <div class="tw-flex tw-items-start tw-justify-between">
                    <div class="ugc-title-m tw-text-black tw-pt-3">Color Pop Luxury Semi-Sheer Tights</div>
                    <div class="ugc-handle-m tw-text-black tw-pt-3">@angkiriakos</div>
                </div>
                <div class="ugc-cta-m tw-pt-2 tw-text-black"><a class="" href="https://www.sheertex.com/products/color-pop-luxury-semi-sheer-tights">Shop Now</a></div>
            </div>
            <div class="ugc-slide-m">
                <img src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/kay.ashanti_FootlessSheerTights.jpg?v=1618931017" alt="baeverlyheels-ultrasheertights">
                <div class="tw-flex tw-items-start tw-justify-between">
                    <div class="ugc-title-m tw-text-black tw-pt-3">Footless Sheer Tights</div>
                    <div class="ugc-handle-m tw-text-black tw-pt-3">@kay.ashanti</div>
                </div>
                <div class="ugc-cta-m tw-pt-2 tw-text-black"><a class="" href="https://www.sheertex.com/products/footless-sheer-tights">Shop Now</a></div>
            </div>
            <div class="ugc-slide-m">
                <img src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/zoexio_BackseamSheerTights.jpg?v=1618931106" alt="theoxfordist-classicsheertights">
                <div class="tw-flex tw-items-start tw-justify-between">
                    <div class="ugc-title-m tw-text-black tw-pt-3">Backseam Sheer Tights</div>
                    <div class="ugc-handle-m tw-text-black tw-pt-3">@zoexio</div>
                </div>
                <div class="ugc-cta-m tw-pt-2 tw-text-black">
                    <a class="" href="https://www.sheertex.com/products/backseam-classic-sheer-tights">Shop Now</a>
                </div>
            </div>
        {% else %}
            <div class="ugc-slide-m">
                <img src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/seq.00_02_50_46.Still007_71ad49b8-5eea-42ef-aee6-f23d7cce3663.jpg?v=1617133219" alt="model wearing no sweat shortie">
                <div class="ugc-title-m tw-text-black tw-pt-3">No-Sweat Shortie</div>
                <div class="ugc-cta-m tw-pt-2 tw-text-black">
                    <a href="https://www.sheertex.com/collections/all/products/no-sweat-shortie">Shop Now</a>
                </div>     
            </div>
            <div class="ugc-slide-m">
                <img src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/niseg_No-SweatShortie_cdf21a73-c3e4-4a56-ba2d-f888fe355ae6.jpg?v=1618938361" alt="model wearing no sweat shortie">
                <div class="tw-flex tw-items-start tw-justify-between">
                    <div class="ugc-title-m tw-text-black tw-pt-3">No-Sweat Shortie</div>
                    <div class="ugc-handle-m tw-text-black tw-pt-3">@niseg</div>
                </div>
                    <div class="ugc-cta-m tw-pt-2 tw-text-black">
                        <a href="https://www.sheertex.com/collections/all/products/no-sweat-shortie">Shop Now</a>
                </div>
            </div>
            <div class="ugc-slide-m">
                <img src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/A024C460_200803M7_CANON.00_11_56_51.Still002_92411b59-dd98-4e7b-8dca-94a7c75c3174.jpg?v=1617133220" alt="model wearing no sweat shortie">
                <div class="ugc-title-m tw-text-black tw-pt-3">No-Sweat Shortie</div>
                <div class="ugc-cta-m tw-pt-2 tw-text-black">
                    <a href="https://www.sheertex.com/collections/all/products/no-sweat-shortie">Shop Now</a>
                </div>
            </div>
            <div class="ugc-slide-m">
                <img src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/vanessaromex_No-SweatShortie_7cefe3dd-0f84-426c-a668-014aa90b2f97.jpg?v=1618938454" alt="model wearing no sweat shortie">
                    <div class="tw-flex tw-items-start tw-justify-between">
                        <div class="ugc-title-m tw-text-black tw-pt-3">No-Sweat Shortie</div>
                        <div class="ugc-handle-m tw-text-black tw-pt-3">@vanessaromex</div>
                    </div>
                    <div class="ugc-cta-m tw-pt-2 tw-text-black">
                        <a href="https://www.sheertex.com/collections/all/products/no-sweat-shortie">Shop Now</a>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
</section>

<script>
    window.jQuery(document).ready((function() {
      window.jQuery(".ugc-slider-m").slick({
          dots: !1,
          infinite: !1,
          speed: 300,
          autoplay: !1,
          slidesToShow: 3,
          centerPadding: "0px",
          arrows: !1,
          centerMode: !0,
          responsive: [{
              breakpoint: 768,
              settings: {
                  arrows: !1,
                  centerMode: !0,
                  centerPadding: "60px",
                  slidesToShow: 1
              }
          }]
      })
    }));
</script>