<section class="tw-py-8 tw-hidden md:tw-block">
    <h2 class="tw-text-center tw-mb-12" style="font-size: 1.75rem;">#LifeInSheertex</h2>
    <div class="tw-mx-auto tw-container tw-flex tw-justify-center">
        <div class="flex-1 tw-px-3">
            <div class="ugc-card tw-relative">
                {% if product.handle != 'no-sweat-shortie' %}
                    <a href="https://www.sheertex.com/products/pinstripe-shaping-sheer-tights">
                        <img
                            loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/andresopoco_PinstripeShapingSheerTights_copy.jpg?v=1618930423" 
                            alt="andresopoco_PinstripeShapingSheerTights">
                    </a>
                    <div class="overlay">
                        <img loading="lazy"
                            style="position: absolute; top: 8px; left: 1.5rem; opacity: 1" 
                            src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/INSTAGRAM_1.svg?v=1603823710" 
                            alt="insta-icon">
                        <div class="ugc-title">Pinstripe Shaping Sheer Tights</div>
                        <div class="ugc-cta"><a class="tw-text-white" href="https://www.sheertex.com/products/pinstripe-shaping-sheer-tights">Shop the look</a></div>
                        <p>@andresopoco</p>
                    </div>
                {% else %}
                    <a href="https://www.sheertex.com/collections/all/products/classic-ultra-strong-ultrasheer-tights">
                        <img
                            loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/seq.00_02_50_46.Still007_71ad49b8-5eea-42ef-aee6-f23d7cce3663.jpg?v=1617133219" 
                            alt="baeverlyheels-ultrasheertights">
                    </a>
                    <div class="overlay">
                        <div class="ugc-title">No-Sweat Shortie</div>
                        <div class="ugc-cta">
                            <a class="tw-text-white" href="https://www.sheertex.com/collections/all/products/no-sweat-shortie">Shop the look</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="flex-1 tw-px-3">
            <div class="ugc-card tw-relative">
                {% if product.handle != 'no-sweat-shortie' %}
                    <a href="https://www.sheertex.com/products/color-pop-luxury-semi-sheer-tights">
                        <img
                            loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/angkiriakos_ColorPopLuxurySemi-SheerTights.jpg?v=1618930793" 
                            alt="angkiriakos_ColorPopLuxurySemi-SheerTights">
                    </a>
                    <div class="overlay">
                        <img loading="lazy"
                            style="position: absolute; top: 8px; left: 1.5rem; opacity: 1" 
                            src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/INSTAGRAM_1.svg?v=1603823710" 
                            alt="insta-icon">
                        <div class="ugc-title">Color Pop Luxury Semi-Sheer Tights</div>
                        <div class="ugc-cta"><a class="tw-text-white" href="https://www.sheertex.com/products/color-pop-luxury-semi-sheer-tights">Shop the look</a></div>
                        <p>@angkiriakos</p>
                    </div>
                {% else %}
                    <a href="https://www.sheertex.com/collections/all/products/classic-ultra-strong-ultrasheer-tights">
                        <img
                            loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/niseg_No-SweatShortie_cdf21a73-c3e4-4a56-ba2d-f888fe355ae6.jpg?v=1618938361" alt="model wearing no sweat shortie">
                    </a>
                    <div class="overlay">
                        <img loading="lazy"
                            style="position: absolute; top: 8px; left: 1.5rem; opacity: 1" 
                            src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/INSTAGRAM_1.svg?v=1603823710" 
                            alt="insta-icon">
                        <div class="ugc-title">No-Sweat Shortie</div>
                        <div class="ugc-cta">
                            <a class="tw-text-white" href="https://www.sheertex.com/collections/all/products/no-sweat-shortie">Shop the look</a>
                        </div>
                        <p>@niseg</p>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="flex-1 tw-px-3">
            <div class="ugc-card tw-relative">
            {% if product.handle != 'no-sweat-shortie' %}
                    <a href="https://www.sheertex.com/products/footless-sheer-tights">
                        <img
                            loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/kay.ashanti_FootlessSheerTights.jpg?v=1618931017" 
                            alt="kay.ashanti_FootlessSheerTights">
                    </a>
                    <div class="overlay">
                        <img loading="lazy"
                            style="position: absolute; top: 8px; left: 1.5rem; opacity: 1" 
                            src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/INSTAGRAM_1.svg?v=1603823710" 
                            alt="insta-icon">
                        <div class="ugc-title">Footless Sheer Tights</div>
                        <div class="ugc-cta"><a class="tw-text-white" href="https://www.sheertex.com/products/footless-sheer-tights">Shop the look</a></div>
                        <p>@kay.ashanti</p>
                    </div>
            {% else %}
                <a href="https://www.sheertex.com/collections/all/products/classic-unbreakable-sheer-tights">
                    <img 
                        loading="lazy"
                        src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/A024C460_200803M7_CANON.00_11_56_51.Still002_92411b59-dd98-4e7b-8dca-94a7c75c3174.jpg?v=1617133220" 
                        alt="theoxfordist-classicsheertights">
                </a>
                <div class="overlay">
                    <div class="ugc-title">No-Sweat Shortie</div>
                    <div class="ugc-cta">
                        <a class="tw-text-white" href="https://www.sheertex.com/collections/all/products/no-sweat-shortie">Shop the look</a>
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
        <div class="flex-1 tw-px-3">
            <div class="ugc-card tw-relative">
            {% if product.handle != 'no-sweat-shortie' %}
                    <a href="https://www.sheertex.com/products/backseam-classic-sheer-tights">
                        <img
                            loading="lazy"
                            src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/zoexio_BackseamSheerTights.jpg?v=1618931106" 
                            alt="zoexio_BackseamSheerTights">
                    </a>
                    <div class="overlay">
                        <img loading="lazy"
                            style="position: absolute; top: 8px; left: 1.5rem; opacity: 1" 
                            src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/INSTAGRAM_1.svg?v=1603823710" 
                            alt="insta-icon">
                        <div class="ugc-title">Backseam Sheer Tights</div>
                        <div class="ugc-cta"><a class="tw-text-white" href="https://www.sheertex.com/products/backseam-thigh-high-sheer-tights">Shop the look</a></div>
                        <p>@zoexio</p>
                    </div>
            {% else %}
                <a href="https://www.sheertex.com/collections/all/products/classic-unbreakable-sheer-tights">
                    <img 
                        loading="lazy"
                        src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/vanessaromex_No-SweatShortie_7cefe3dd-0f84-426c-a668-014aa90b2f97.jpg?v=1618938454" alt="model wearing no sweat shortie">
                </a>
                <div class="overlay">
                    <img loading="lazy"
                        style="position: absolute; top: 8px; left: 1.5rem; opacity: 1" 
                        src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/INSTAGRAM_1.svg?v=1603823710" 
                        alt="insta-icon">
                    <div class="ugc-title">No-Sweat Shortie</div>
                    <div class="ugc-cta">
                        <a class="tw-text-white" href="https://www.sheertex.com/collections/all/products/no-sweat-shortie">Shop the look</a>
                    </div>
                    <p>@vanessaromex</p>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
</section>

{% include 'product.sections.ugc-mobile-slider' %}
