<div id="QuickShopModal-{{ product.id }}" class="modal modal--square modal--quick-shop" data-product-id="{{ product.id }}">
  <div class="modal__inner">
    <div class="modal__centered">
      <div class="modal__centered-content">
        {% include 'product-template',
          description_style: 'default',
          image_container_width: 'medium',
          section_id: product.id,
          social: false,
          isModal: true
        %}
      </div>

      <button type="button" class="modal__close js-modal-close text-link">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"/></svg>
        <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
      </button>
    </div>
  </div>
</div>


<style>
@media only screen and (max-width: 589px) {
  .modal--quick-shop .grid {
    flex-flow: column;
  }
  .modal--quick-shop .grid__item:first-child {
    margin-left: 0px !important;
    margin-top: 20px !important;
  }
  .modal--quick-shop .js-qty__wrapper {
    min-width: 45px;
    max-width: 70px;
  }
}
</style>