<div class="tw-hidden shortie-popup-desktop tw-fixed tw-z-50 tw-left-0 tw-top-0 tw-w-full tw-h-full tw-overflow-hidden tw-text-black">
    <div class="tw-bg-white tw-w-1/2 shortie-desktop-image">
    </div>
    <div class="tw-flex tw-flex-col tw-h-full tw-py-8 tw-w-1/2 tw-bg-white tw-px-12">
    <div class="tw-h-full tw-flex tw-flex-col tw-justify-around">
    <img src="{{ 'shortie-close-black.svg' | asset_url }}" alt="" class="shortie-close-icon-desktop tw-absolute tw-top-5 tw-right-5 tw-cursor-pointer" style="width: 30px;">
    <img src="{{ 'shortie-pdp-popup-logo-black.png' | asset_url }}" alt="" class="shortie-popup-logo tw-mb-12 tw-block tw-mx-auto tw-my-0">
    <div class="tw-mb-5">
        <h1 class="tw-font-serif tw-text-5xl tw-font-light tw-leading-none">Why the Brae no-sweat shortie?</h1>
        <p class="tw-text-2xl">The No-Sweat Shortie has stepped up its game, so much so that we gave it a whole new identity. Made with the same
        resilient Sheertex Knit Technology with a sleeker, more elevated look.</p>
    </div>
    <div class="tw-mb-5">
        <h1 class="tw-font-serif tw-text-5xl tw-font-light tw-mb-2">What's New</h1>
            <p class="tw-text-left tw-text-xl tw-mb-1">- Softer to the touch</p>
            <p class="tw-text-left tw-text-xl tw-mb-1">- More sheer and lightweight</p>
            <p class="tw-text-left tw-text-xl tw-mb-1">- Designed to go incognito under clothing</p>
    </div>
    <div class="">
        <a class="shortie-shop-desktop tw-border-0 tw-rounded-3xl tw-px-12 msm:tw-px-16 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-mx-auto tw-text-xs tw-font-sans tw-leading-normal tw-text-center tw-font-medium tw-uppercase tw-tracking-heading" href="#affiliate-learn">
            SHOP BRAE SHORTIE
        </a>
    </div>
</div>
</div>
</div>

<script>
    (function() {
         

           let popup = document.querySelector('.shortie-popup-desktop')
           if (!popup) {
               return
           }
   
           let closeModalButton = document.querySelector('.shortie-close-icon-desktop');
               if (!closeModalButton) {
                   return
               }
               let shopBtn = document.querySelector(".shortie-shop-desktop");
                if (!shopBtn) {
                    return;
                }

                if(sessionStorage && !sessionStorage.getItem('isshow')){
                    popup.style.display = "flex";
                    sessionStorage.setItem('isshow', true);
                } else {
                    popup.style.display = "none";
                }
       
               [closeModalButton, shopBtn].forEach((curr) => {
                curr.addEventListener('click', (e) => {
                   e.preventDefault()
                   e.stopPropagation()
   
                   popup.style.display = 'none';
               })
               })
           
   
           
           
       })()
   </script>