<!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close" onclick="closeBacktOne();">&times;</span>
      <div id="sizing-main" class="active">
      <p style="text-align: center; font-family: 'montserrat-extrabold-italic'; font-size: 50px; margin-bottom: 5px;">Sizing Chart</p>
      <table class="table no-mobile23">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">small</th>
            <th scope="col">medium</th>
            <th scope="col">large</th>
            <th scope="col">x-large</th>
            <th scope="col">2/3X-large</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="background: #c8f6f6;">short <span style="font-size: 12px; margin-left: 10px;">(4'11" - 5'2")<br>(150cm - 158cm) </span></td>
            <td style="background: #c8f6f6;">100 - 120 lbs<br>45 - 54 kg </td>
            <td style="background: #c8f6f6;">120 - 145 lbs<br>54 - 66 kg</td>
            <td style="background: #c8f6f6;">145 - 175 lbs<br>66 - 79 kg</td>
            <td style="background: #c8f6f6;">175 - 220 lbs<br>79 - 100 kg</td>
            <td style="background: #c8f6f6;">220 - 295 lbs<br>100 - 134 kg</td>
          </tr>
          <tr>
            <td><span style="width: 100px;">regular<span style="font-size: 12px; margin-left: 10px;">(5'3" - 5'7")<br>(159cm - 171cm)</span></td>
            <td>105 - 125 lbs<br>47 - 57 kg</td>
            <td>125 - 150 lbs<br>57 - 68 kg</td>
            <td>150 - 180 lbs<br>68 - 82 kg</td>
            <td>180 - 225 lbs<br>82 - 102 kg</td>
            <td>225 - 300 lbs<br>102 - 136 kg</td>
          </tr>
          <tr>
            <td style="background: #c8f6f6;"> tall<span style="font-size: 12px; margin-left: 10px;">(5'8"-6'1")<br>(173cm - 185cm)</span></td>
            <td style="background: #c8f6f6;">110 - 130 lbs<br>50 - 59 kg</td>
            <td style="background: #c8f6f6;">130 - 155 lbs<br>59 - 70 kg</td>
            <td style="background: #c8f6f6;">155 - 185 lbs<br>70 - 84 kg</td>
            <td style="background: #c8f6f6;">185 - 230 lbs<br>84 - 104 kg</td>
            <td style="background: #c8f6f6;">230 - 305 lbs<br>014 - 138 kg</td>
          </tr>
        </tbody>
      </table>
      <br>
      <!--
<table class="table no-mobile23">
<thead>
<tr>
<th scope="col"></th>
<th scope="col">small</th>
<th scope="col">medium</th>
<th scope="col">large</th>
<th scope="col">x-large</th>
<th scope="col">2/3X-large</th>
</tr>
</thead>
<tbody>
<tr>
<td style="background: #c8f6f6;">All heights <span style="font-size: 12px; margin-left: 10px;"> </span></td>
<td style="background: #c8f6f6;">17 - 22"</td>
<td style="background: #c8f6f6;">19 - 24"</td>
<td style="background: #c8f6f6;">21 - 25"</td>
<td style="background: #c8f6f6;">24 - 28"</td>
<td style="background: #c8f6f6;">29 - 33"</td>
</tr>

</tbody>
</table> -->

      <table class="table mobile-only" style="margin-left: -14.5%;">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">
              <span style="color: #fff;"> regular </span>
              <br>
              <span>short </span><br>
              <span style="font-size: 9.5px;"> (4'11" - 5'2")<br>(150cm - 158cm)</span></th>
            <th scope="col">
              <span style="color: #fff;"> regular </span>
              <br>
              <span>regular</span><br>
              <span style="font-size: 9.5px;"> (5'3" - 5'7")<br>(159cm - 171cm)</span></th>
            <th scope="col">
              <span style="color: #fff;"> regular </span>
              <br>
              <span>tall</span><br>
              <span style="font-size: 9.5px;"> (5'8" - 6'1")<br>(173cm - 185cm)</span>
            </th>
        </tr>
      </thead>
    <tbody>
      <tr>
        <td style="background: #c8f6f6;">small </td>
        <td style="background: #c8f6f6;"> 100 - 120 lbs<br>45 - 54 kg  </td>
        <td style="background: #c8f6f6;"> 105 - 125 lbs<br>47 - 57 kg </td>
        <td style="background: #c8f6f6;"> 110 - 130 lbs<br>50 - 59 kg </td>
      </tr>
      <tr>
        <td>medium </td>
        <td>120 - 145 lbs<br>54 - 66 kg</td>
        <td>125 - 150 lbs<br>57 - 68 kg</td>
        <td>130 - 155 lbs<br>59 - 70 kg</td>
      </tr>
      <tr>
        <td style="background: #c8f6f6;">large </td>
        <td style="background: #c8f6f6;">145 - 175 lbs<br>66 - 79 kg</td>
        <td style="background: #c8f6f6;">150 - 180 lbs<br>68 - 82 kg</td>
        <td style="background: #c8f6f6;">155 - 185 lbs<br>70 - 84 kg</td>
      </tr>
      <tr>
        <td>x-large </td>
        <td>175 - 220 lbs<br>79 - 100 kg</td>
        <td>180 - 225 lbs<br>82 - 102 kg</td>
        <td>185 - 230 lbs<br>84 - 104 kg</td>
      </tr>
      <tr>
        <td style="background: #c8f6f6;">2/3x-large </td>
        <td style="background: #c8f6f6;">220 - 295 lbs<br>100 - 134 kg</td>
        <td style="background: #c8f6f6;">225 - 300 lbs<br>102 - 136 kg</td>
        <td style="background: #c8f6f6;">230 - 305 lbs<br>014 - 138 kg</td>
      </tr>
    </tbody>

    </table>
</div>
      
</div>
    
    </div>
    


<div class="desktop-size-btn">
  <!-- Trigger/Open The Modal -->
  <a href="#" id="myBtn"style="margin-left: 0px; font-family: 'montserrat'; font-weight: 700; font-size: 15px; border: 1px solid black;
    padding: 6px; color: #000; margin-bottom: 10px;">Sizing Guide</a>
</div>



<script>
  // Get the modal
  var modal = document.getElementById("myModal");
  
  // Get the button that opens the modal
  var a = document.getElementById("myBtn");
  
  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];
  
  // When the user clicks the button, open the modal 
  a.onclick = function() {
    modal.style.display = "block";
  }
  
  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>