<section style="background-image: linear-gradient(to top, #e8e8f2, #e8e8f2);">
    <div class="tw-container tw-mx-auto tw-grid sm:tw-grid-cols-3 msm:tw-grid-rows-3 tw-gap-4 tw-py-16 msm:tw-py-12">
        <div class="tw-flex tw-items-center tw-justify-center tw-flex-col">
            <img src="{{ 'shipping-footer.svg' | asset_url }}" class="tw-w-12" alt="shipping-icon">
            <p class="tw-text-xs sm:tw-text-sm tw-font-sans tw-uppercase tw-leading-tight tw-text-center tw-tracking-wide tw-font-bold tw-py-4 tw-mb-0">Free shipping</p>
            <p class="tw-text-xs sm:tw-text-sm tw-font-narrow tw-leading-tight tw-text-center tw-tracking-wide tw-max-w-xs">Same day shipping is included<br> on all orders</p>
        </div>
        <div class="tw-flex tw-items-center tw-justify-center tw-flex-col">
            <img src="{{ '30-day-goodluck-footer.svg' | asset_url }}" class="tw-w-12" alt="shipping-icon">
            <p class="tw-text-xs sm:tw-text-sm tw-font-sans tw-uppercase tw-leading-tight tw-text-center tw-tracking-wide tw-font-bold tw-py-4 tw-mb-0">30-day guarantee</p>
            <p class="tw-text-xs sm:tw-text-sm tw-font-narrow tw-leading-tight tw-text-center tw-tracking-wide tw-max-w-xs">Covers any damage that renders<br> your tights unwearable</p>
        </div>
        <div class="tw-flex tw-items-center tw-justify-center tw-flex-col">
            <img src="{{ 'strength-footer.svg' | asset_url }}" class="tw-w-12" alt="shipping-icon">
            <p class="tw-text-xs sm:tw-text-sm tw-font-sans tw-uppercase tw-leading-tight tw-text-center tw-tracking-wide tw-font-bold tw-py-4 tw-mb-0">Strength tested</p>
            <p class="tw-text-xs sm:tw-text-sm tw-font-narrow tw-leading-tight tw-text-center tw-tracking-wide tw-max-w-xs">Rated 5 stars by thousands<br> of happy customers.</p>
        </div>
    </div>
</section>