<section class="tw-bg-sidekickBG tw-py-16">
    <!-- Tights comparison on Desktop  -->
    <div class="page-width tw-grid sm:tw-grid-cols-2 msm:tw-grid-cols-1 tw-space-x-4">
        <section class="tw-flex tw-flex-row">
            <div class="tw-mr-4">
                <div class="ess1-img-block tw-text-center tw-bg-white tw-p-4">
                    <div class="tw-relative">
                        <img src="{{ 'essentials-product-img.jpg' | asset_img_url: '280x' }}" alt="temp">
                        <div class="tw-absolute tw-top-0 triangle-topleft">
                            <span class="tw-text-bold tw-font-medium tw-text-xs tw-tracking-wide">START<br>HERE
                            </span>
                        </div>
                    </div>
                    <p class="tw-font-bold tw-uppercase tw-tracking-heading tw-mb-0 tw-text-xs tw-mt-2">For Starters</p>
                    <p class="tw-max-w-xs tw-font-narrow tw-leading-tight tw-text-xs tw--mb-1 tw-px-4">
                        We've cut our margins and kept all the resilience to get you started
                    </p>
                </div>
                <div class="tw-max-w-sm tw-items-center tw-justify-center">
                    <p class="tw-font-serif tw-leading-tight tw-font-light tw-tracking-normal tw-text-xl tw-pt-2 tw-my-2">
                        Essential Sheer Tights
                    </p>
                    <div class="tw-flex tw-grid-cols-2 tw-justify-between tw-items-center tw-mb-4">
                        <div class="tw-my-auto">
                            <p class="tw-font-narrow tw-leading-tight tw-text-xs tw--mb-1">
                                Only <span class="tw-text-sm"><span data-currency="">$29.00</span></span>
                            </p>
                            <p class="tw-font-narrow tw-leading-tight tw-text-xs tw--mb-1">
                                Value <span class="tw-text-sm"><span data-currency="">$59</span></span>
                            </p>
                        </div>
                        <div class="tw-my-auto">
                            <a class="tw-mb-0 tw-rounded-3xl tw-px-10 mlg:tw-px-8 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-m-auto tw-text-xxs tw-font-medium tw-leading-normal tw-text-center tw-uppercase tw-tracking-heading" href="https://www.sheertex.com/products/essential-sheer-tights">
                                SHOP NOW
                            </a>
                        </div>
                    </div>
                    <hr class="hr--small tw-border-0 tw-border-b tw-border-solid tw-border-gray-400 tw-my-2">
                    <p class="tw-font-narrow tw-leading-tight tw-text-xs tw--mb-1">
                        Automatic Assembly
                    </p>
                    <hr class="hr--small tw-border-0 tw-border-b tw-border-solid tw-border-gray-400 tw-my-2">
                    <p class="tw-font-narrow tw-leading-tight tw-text-xs tw--mb-1">
                        Built-in Smoothing Short
                    </p>
                    <hr class="hr--small tw-border-0 tw-border-b tw-border-solid tw-border-gray-400 tw-my-2">
                    <p class="tw-font-narrow tw-leading-tight tw-text-xs tw--mb-1">
                        30-Day Guarantee
                    </p>
                    <hr class="hr--small tw-border-0 tw-border-b tw-border-solid tw-border-gray-400 tw-my-2">
                    <p class="tw-font-narrow tw-leading-tight tw-text-xs tw--mb-1">
                        Minimal Package
                    </p>
                    <hr class="hr--small tw-border-0 tw-border-b tw-border-solid tw-border-gray-400 tw-my-2">
                </div>
            </div>
            <div>
                <div class="ess2-img-block tw-text-center tw-bg-gray-300 tw-p-4">
                    <div class="tw-relative">
                        <img src="{{ 'Essential_LP_compare_B.jpg' | asset_img_url: '280x' }}" alt="temp">
                        <div class="tw-absolute tw-top-0 triangle-topleft-c">
                            <span class="tw-text-bold tw-font-medium tw-text-xs tw-tracking-wide">FAN<br>FAVORITE
                            </span>
                        </div>
                    </div>
                    <p class="tw-font-bold tw-uppercase tw-tracking-heading tw-mb-0 tw-text-xs tw-mt-2">Next Level</p>
                    <p class="tw-max-w-xs tw-font-narrow tw-leading-tight tw-text-xs tw--mb-1 tw-px-4">
                        This best seller has all the luxurious features that's made us famous. 
                    </p>
                </div>
                <div class="tw-max-w-sm tw-items-center tw-justify-center">
                    <p class="tw-font-serif tw-leading-tight tw-font-light tw-tracking-normal tw-text-xl tw-pt-2 tw-my-2">
                        Classic Sheer Tights
                    </p>
                    <div class="tw-flex tw-grid-cols-2 tw-justify-between tw-items-center tw-mb-3">
                        <div class="tw-my-auto">
                            <p class="tw-font-narrow tw-leading-tight tw-text-xs tw-uppercase tw--mb-1">
                                <span class="tw-text-sm"><span data-currency="">$79.00</span></span>
                            </p>
                            <br>
                        </div>
                        <div class="tw-my-auto">
                            <a class="tw-mb-0 tw-rounded-3xl tw-px-10 mlg:tw-px-8 tw-py-3 tw-max-w-xs tw-bg-green-200 tw-m-auto tw-text-xxs tw-font-medium tw-leading-normal tw-text-center tw-uppercase tw-tracking-heading" href="https://www.sheertex.com/products/classic-sheer-tights">
                                SHOP NOW
                            </a>
                        </div>
                    </div>
                    <hr class="hr--small tw-border-0 tw-border-b tw-border-solid tw-border-gray-400 tw-my-2">
                    <p class="tw-font-narrow tw-leading-tight tw-text-xs tw--mb-1">
                        Hand Sewn in Canada
                    </p>
                    <hr class="hr--small tw-border-0 tw-border-b tw-border-solid tw-border-gray-400 tw-my-2">
                    <p class="tw-font-narrow tw-leading-tight tw-text-xs tw--mb-1">
                        Waist-to-toe sheer
                    </p>
                    <hr class="hr--small tw-border-0 tw-border-b tw-border-solid tw-border-gray-400 tw-my-2">
                    <p class="tw-font-narrow tw-leading-tight tw-text-xs tw--mb-1">
                        90-Day Guarantee + Free Shipping
                    </p>
                    <hr class="hr--small tw-border-0 tw-border-b tw-border-solid tw-border-gray-400 tw-my-2">
                    <p class="tw-font-narrow tw-leading-tight tw-text-xs tw--mb-1">
                        Deluxe Packaging
                    </p>
                    <hr class="hr--small tw-border-0 tw-border-b tw-border-solid tw-border-gray-400 tw-my-2">
                </div>
            </div>
        </section>
        <section class="tw-flex tw-flex-col tw-justify-items-center tw-items-center tw-justify-center">
            <img src="{{ 'Essential_LP_compare_B.jpg' | asset_img_url: 'x640' }}" class="" alt="temp">
            <div class="tw-absolute tw-justify-items-center tw-items-center">
                <p class="tw-m-auto tw-text-3xl mlg:tw-text-xl tw-font-serif tw-leading-tight tw-text-center tw-font-light tw-mb-0 tw-tracking-normal tw-text-white tw-max-w-sm lg:tw-py-8">
                    “We're in business to eliminate disposable hosiery for good. That's why we've cut the frills (and our margin) to bring you Essentials.”
                </p>
                <div class="tw-mx-auto tw-max-w-md tw-flex tw-grid-cols-2 tw-space-x-1 tw-justify-center tw-space-x-4 tw-items-center tw-pt-4">
                    <div class="tw-my-auto mlg:tw-w-1/12 lg:tw-w-1/6">
                        <img src="{{ 'Essential_LP_Kat_Pic.png' | asset_img_url: 'master' }}" class="" alt="temp">
                    </div>
                    <div>
                        <p class="tw-text-base msm:tw-text-xs tw-font-narrow tw-leading-tight tw-font-light tw-mb-0 tw-tracking-normal tw-text-white">
                            Katherine Homuth.<br> FOUNDER AND CEO, SHEERTEX
                        </p>
                    </div>
                </div>
            </div>
        </section>
        
    </div>
</section>

<style>
    .ess2-img-block {
        background-image: linear-gradient(to top, #e8e8f2, #e8e8f2);
    }

    .triangle-topleft {
      width: 0;
      height: 0;
      border-top: 120px solid white;
      border-right: 110px solid transparent;
    }
    .triangle-topleft-c {
      width: 0;
      height: 0;
      border-top: 120px solid #ddff98;
      border-right: 110px solid transparent;
    }
    .triangle-topleft span, .triangle-topleft-c span {
        position: absolute;
        top: -115px;
        left: 10px;
    }
</style>
