<section class="tw-bg-black tw-h-14 tw-flex tw-flex-row tw-items-center" style="height: 56px !important;">
  <div class="tw-px-4 lg:tw-px-16 tw-flex tw-items-center">
    <span class="mlg:tw-grid">
      {% if request.locale.iso_code == 'en' %}
      <span class="tw-text-white tw-font-light tw-mr-1" style="font-size: 8px;">Powered by</span>
      {% elsif request.locale.iso_code == 'fr' %}
      <span class="tw-text-white tw-font-light tw-mr-1" style="font-size: 8px;">Propulsé par</span>
      {% endif %}
      <a href="https://www.sheertex.com/"
        class="tw-mr-8 tw-text-white tw-font-medium tw-text-[14px] hover:tw-text-white">Sheertex
      </a>
    </span>

    <a class="tw-text-white" href="https://sheertex.com/threees/" target="_blank">
      <span class="lg:tw-hidden tw-font-light tw-text-xs">threees</span>
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Master_threees_logo.svg?v=1657659286" width="auto"
        height="15" class="mlg:tw-hidden lazy2">
    </a>

    <span class="tw-px-4"></span>
    <a class="tw-text-white" href="https://www.sheertex.com/collections/sheertex-collection">
      <span class="lg:tw-hidden tw-font-light tw-text-xs">Sheertex</span>
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Master_sheertex_logo.svg?v=1651496169"
        width="auto" height="auto" class="mlg:tw-hidden lazy2">
    </a>

    <span class="tw-px-4"></span>
    <a class="tw-text-white" href="https://www.sheertex.com/collections/brae">
      <span class="lg:tw-hidden tw-font-light tw-text-xs">Brae</span>
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Master_brae_logo.svg?v=1651496169" width="auto"
        height="auto" class="mlg:tw-hidden lazy2">
    </a>

    <span class="tw-px-4"></span>
    <a class="tw-text-white" href="https://www.sheertex.com/collections/unsung-shop-all">
      <span class="lg:tw-hidden tw-font-light tw-text-xs">Unsung</span>
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Unsung_logo_white.png?v=1652579134" width="auto"
        height="21" class="mlg:tw-hidden lazy2">
    </a>

  </div>
</section>