<marquee width="100%" direction="right" height="100px">
    <span>SHOP HOLIDAY COLLECTION</span>
    <span>&diams;&diams;&diams;&diams;</span>
    <span>SAVE 20-40%</span>
    <span>&diams;&diams;&diams;&diams;</span>
    <span>SHOP HOLIDAY COLLECTION</span>
    <span>&diams;&diams;&diams;&diams;</span>
    <span>SAVE 20-40%</span>
    <span>&diams;&diams;&diams;&diams;</span>
    <span>SHOP HOLIDAY COLLECTION</span>
    <span>&diams;&diams;&diams;&diams;</span>
    <span>SAVE 20-40%</span>
</marquee>