<section class="tw-flex tw-flex-col tw-justify-center tw-items-center tw-bg-sidekickBG tw-py-12">
    <p class="tw-py-4 mlg:tw-text-2xl mlg:tw-px-2 tw-mx-auto tw-text-4xl tw-font-serif tw-leading-tight tw-font-light tw-tracking-normal tw-text-center tw-text-black msm:tw-max-w-sm sm:tw-max-w-3xl">
        We've cut our margin on Essentials to directly disrupt and replace disposable hosiery for good.
    </p>
    <img src="{{ 'Desktop_compare_chart.png' | asset_img_url: 'master' }}" class="msm:tw-hidden tw-w-1/2" alt="temp">
    <img src="{{ 'Mobile_compare_chart.png' | asset_img_url: 'master' }}" class="sm:tw-hidden tw-px-2" alt="temp">
</section>

<section class="tw-flex tw-flex-col tw-justify-center tw-items-center tw-py-16">
    <p class="mlg:tw-text-2xl mlg:tw-px-2 tw-mx-auto tw-text-4xl tw-font-serif tw-leading-tight tw-font-light tw-tracking-normal tw-text-center tw-text-black msm:tw-max-w-sm sm:tw-max-w-4xl">
        What else makes Essentials different than our Classic tights?
    </p>
    <div class="tw-flex tw-grid-cols-3 sm:tw-justify-between sm:tw-space-x-16 tw-justify-items-center tw-justify-center tw-px-12 mmd:tw-px-2">
        <div>
            <p class="tw-font-sans tw-mx-auto tw-text-3xl mlg:tw-text-xs tw-text-center sm:tw-pt-4 tw-mb-0 tw-text-black">
                01
            </p>
            <p class="tw-uppercase tw-font-sans tw-mx-auto tw-text-xl mlg:tw-text-xs tw-text-center msm:tw-py-1 sm:tw-py-4 tw-mb-0 tw-text-black tw-font-bold">
                automation<span class="sm:tw-hidden"><br>&nbsp;</span>
            </p>
            <p class="tw-max-w-xs msm:tw-leading-4 tw-font-narrow tw-mx-auto tw-text-3xl mlg:tw-text-xs tw-text-center tw-mb-0 tw-text-black">
                We replaced hand-sewing with our more efficient fully-automated process.
            </p>
        </div>
        <div>
            <p class="tw-font-sans tw-mx-auto tw-text-3xl mlg:tw-text-xs tw-text-center sm:tw-pt-4 tw-mb-0 tw-text-black">
                02
            </p>
            <p class="tw-uppercase tw-font-sans tw-mx-auto tw-text-xl mlg:tw-text-xs tw-text-center msm:tw-py-1 sm:tw-py-4 tw-mb-0 tw-text-black tw-font-bold">
                minimal packaging
            </p>
            <p class="tw-max-w-xs msm:tw-leading-4 tw-font-narrow tw-mx-auto tw-text-3xl mlg:tw-text-xs tw-text-center tw-mb-0 tw-text-black">
                We stripped down the packaging to offer you the best possible value for the price.
            </p>
        </div>
        <div>
            <p class="tw-font-sans tw-mx-auto tw-text-3xl mlg:tw-text-xs tw-text-center sm:tw-pt-4 tw-mb-0 tw-text-black">
                03
            </p>
            <p class="tw-uppercase tw-font-sans tw-mx-auto tw-text-xl mlg:tw-text-xs tw-text-center msm:tw-py-1 sm:tw-py-4 tw-mb-0 tw-text-black tw-font-bold">
                30 vs 90-day guarantee
            </p>
            <p class="tw-max-w-xs msm:tw-leading-4 tw-font-narrow tw-mx-auto tw-text-3xl mlg:tw-text-xs tw-text-center tw-mb-0 tw-text-black">
                We offer a 30-day guarantee, rather than the 90 days that come with our other products.
            </p>
        </div>
    </div>
</section>

<section class="tw-bg-sidekickBG tw-py-16">
    <p class="msm:tw-text-2xl sm:tw-text-4xl tw-font-serif tw-leading-tight tw-font-light tw-tracking-normal tw-text-center sm:tw-pb-8">
        Still undecided?
    </p>
    {% render 'temp-essential-classics-sec' %}
</section>