<section class="tw-flex tw-flex-col tw-justify-items-center tw-items-center tw-justify-center">
    <img src="{{ 'Desktop_compare_banner.jpg' | asset_img_url: 'master' }}" class="mmd:tw-hidden" alt="temp">
    <img src="{{ 'Mobile_compare_banner.jpg' | asset_img_url: 'master' }}" class="md:tw-hidden" alt="temp">
</section>
<section class="lg:tw--mt-48 mlg:tw--mt-40 tw-bg-sidekickBG">
    {% render 'temp-essential-classics-sec' %}
</section>

{% schema %}
{
  "name": "HP Classics Comparison",
  "settings": [
  ],
  "presets": [
  {
    "name": "HP Classics Comparison",
    "category": "Promotional"
  }
  ]
}
{% endschema %}