<div id="notifications-banner" class="tw-flex tw-items-center tw-justify-center tw-bg-green-200 tw-h-8 tw-px-1 tw-text-center tw-uppercase tw-font-sans tw-font-medium tw-tracking-wider">
</div>
<style>
 div#shopify-section-notification-banner {
    z-index: 999999;
    top: 0;
    position: sticky;
 }
</style>