{% style %}
.swiper-pagination-bullet-active {
  background: #fff !important;
}
.swiper-pagination-bullet {
  background: #ddff98 !important;
}
@media(min-width: 768px) {
    .section-height {
        min-height: 40vw;
    }
}

{% endstyle %}
<section class="tw-w-full" data-cypress="hero">
  {% if request.design_mode %}
    <div class="section-height">
      <div class="tw-my-32 tw-flex tw-flex-col tw-items-center tw-justify-center tw-w-full tw-h-full">
        <h1 class="tw-text-2xl tw-text-red-700">This section preview is not updated in theme editor</h1>
        <p>Save the changes & use theme preview to see the changes</p>
      </div>
    </div>
  {% else %}
    <div class="section-height" data-svelte="tempSlideshow"></div>
  {% endif %}
</section>
<script>
  /* This script should be executed after the markup is generated */
  (function payloadGenerator() {
    var payload = [
    {% for block in section.blocks %}
      {{block.settings | json }}
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
    ];
    const tempSlideshowEl = document.querySelector("[data-svelte=tempSlideshow]");
    if (tempSlideshowEl) {
      tempSlideshowEl.setAttribute('data-svelte-payload', JSON.stringify(payload));
    }
  })();
</script>

{% schema %}

{
  "name": "Temp Hero",
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "textarea",
          "id": "title",
          "label": "Heading",
          "default": "It's a spring thing."
        }, {
          "type": "textarea",
          "id": "subheading",
          "label": "Subheading",
          "default": "The world's toughest tights, now available in\nvibrant colors & versatile patterns for this season.\nDebut your spring look—it's time."
        }, {
          "type": "image_picker",
          "id": "image_desktop",
          "label": "Background image desktop"          
        }, {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Background image mobile"          
        }, {
          "type": "header",
          "content": "CTA Settings"
        }, {
          "type": "text",
          "id": "link_text",
          "label": "Button text",
          "default": "Shop all"
        }, {
          "type": "text",
          "id": "link",
          "label": "Copy Button Link",
          "default": "Shop all link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Temp Hero Section",
      "category": "Collection"
    }
  ]
}

{% endschema %}
