.shortie-popup-mobile {
    background-image: url(//cdn.shopify.com/s/files/1/0114/4120/9408/t/177/assets/shortie-pdp-popup-image.png?v=41909294395608249281657817831);
    background-size: cover;
    background-repeat: no-repeat;
}

.shortie-popup-logo {
    width: 250px;
    height: auto;
}

.shortie-popup-inner {
    margin: 0 auto;
    width: 80%;
}

.shortie-desktop-image {
    background-image: url(//cdn.shopify.com/s/files/1/0114/4120/9408/t/177/assets/shortie-pdp-popup-image-desktop.png?v=35852489071798284271657817831);
    background-size: cover;
    background-repeat: no-repeat;
}