<section class="tw-bg-labBlue">
    <section class="page-width tw-grid tw-grid-cols-2 sm:tw-grid-cols-3 tw-gap-6 tw-justify-between msm:tw-px-4 md:tw-px-20 tw-py-4 sm:tw-py-8">
        <div class="tw-flex tw-items-center tw-justify-items-start">
            <a href="https://www.sheertex.com/pages/sheertex-labs-landing-page">
                <img src="https://i.shgcdn.com/309f468d-c6c3-4e71-a373-c12249ebc09b/" width="" height="" style="" alt="" class="shogun-image">
            </a>
        </div>
        <p class="msm:tw-hidden tw-mb-0 tw-justify-items-center tw-text-3xl msm:tw-text-2xl tw-font-serif tw-text-center tw-font-light tw-tracking-normal tw-leading-tight tw-pt-6">
            A Magazine<br>About Resilience
        </p>
        <div class="tw-max-w-sm md:tw-ml-8 tw-items-center tw-justify-center">
            <hr class="hr--small msm:tw-my-2" style="border-bottom: 1px solid black;">
            <p class="tw-font-sans tw-text-light msm:tw-text-sm tw-font-medium tw-tracking-wider tw-uppercase tw--mb-1">
                Articles
                &nbsp;<a href="https://www.sheertex.com/pages/what-makes-sheertex-different">001</a>
                &nbsp;<a href="https://www.sheertex.com/pages/complete-your-story">002</a>
                &nbsp;<a href="https://www.sheertex.com/pages/unbreakable-tights-do-they-work">003</a>
                &nbsp;<a href="https://www.sheertex.com/pages/holiday-lookbook">004</a>
            </p>
            <hr class="hr--small msm:tw-my-2" style="border-bottom: 1px solid black;">
            <p class="tw-font-sans tw-text-light msm:tw-text-sm tw-font-medium tw-tracking-wider tw-uppercase tw--mb-1">
                Experiments
                &nbsp;<a href="https://www.sheertex.com/pages/sheertex-lab">001</a>
            </p>
            <hr class="hr--small msm:tw-my-2" style="border-bottom: 1px solid black;">
        </div>
    </section>
</section>

<section>
    <p>
        An Essential step towards sustainability: How tights that last are making an impact
    </p>
    <p>
        Every year, over 2 billion pairs of cheap, unsustainable pantyhose are sent to the landfills. 
        We sat down with Katherine Homuth, Founder and CEO of Sheertex, to explore how the World’s Most Resilient Tights and their latest product, 
        Essential Sheer Tights, are playing their part in reducing the ecological footprint of the hosiery industry.
    </p>
    <p>
        Staff contributor
    </p>
    <p>
        February 8, 2022
    </p>
</section>

<section>
    <div>
        2 imgs
    </div>
    <p>
        The notion of tackling climate change feels insurmountable. But it is possible for individuals to make a meaningful impact on the environment, 
        and it usually starts with an idea, an action small enough for one person to do, but can catch on and spread from there. Katherine Homuth, 
        Founder and CEO of Sheertex, is evidence of that. The seed for the company was first planted in 2017, after she experienced a universal hardship that anyone who’s ever worn regular 
        tights knows all too well: they ripped, far too easily. From there, she wondered why tights that don’t rip at the drop of a hat hadn’t been invented yet. And the rest is history.
    </p>
    <p>
        Every single year, over two billion pairs of disposable pantyhose rip and are tossed into the trash, 
        clogging up the landfills and contributing to the decline of the planet’s health. Here’s what Homuth has to say about Sheertex’s mission of 
        eliminating disposable hosiery on a global scale and how they’re planning to do it.
    </p>
</section>

<div>
    2 imgs
</div>

<section>
    <p>Creating tights that last—
        more expensive than you’d think</p>
        <p>
            Katherine Homuth’s goal has always been to design tights that stand the test of time. After all, why should humans be able to land on the moon but pantyhose aren’t able to last more than a day before ripping? Following countless rounds of experimenting with different materials and breaking many sewing machines in the process, Homuth discovered one tiny yet mighty miracle fiber which is now woven into every single Sheertex product to make them as resilient as they are. The only problem is that miracle fiber is very expensive.
        </p>
        <p>
            Sheertex’s premium products—such as the Classic Sheer Tights, which have sold over 500,000 pairs since 2019—are woven with Sheertex’s trademark resilient knit, with a wide and comfy waistband, high-end stitching, and are available in seven different sizes. They also have an average price tag of about $100 USD. In the early days of the company, it cost around $100 to make a single pair of pantyhose due to material and labor costs. However, over the last few years, strides have been made in the production process which have helped to lower those costs, allowing for further innovation in tech-enabled automation processes which led to new, more affordable products.
        </p>
        <p>
            “We always dreamed of making our technology accessible to everyone so that no one has to buy a pair of disposable tights ever again. But we knew that in order to make that happen, we’d have to make our tights really affordable,” says Homuth. 
        </p>
    <p>
        “We always dreamed of making our technology accessible to everyone so that no one has to buy a pair of disposable tights ever again.”
    </p>
    <p>
        Essential Sheer Tights: The leap of faith
    </p>
    <p>
        Everyone who wears tights wants tights that don’t rip, but the fact of the matter is that Sheertex’s typical products sit at a far higher price point than regular tights, something which new customers or skeptics aren’t always willing to pay. That’s why in January 2022, Sheertex took a leap of faith by releasing their most affordable product yet: Essential Sheer Tights. At $29 USD, the new product is sold for as much as it costs to produce, allowing for an accessible entrypoint into the primarily premium brand.
    </p>
    <p>
        “What we’ve done is removed some of our very special fiber from the parts of the product where it isn’t entirely required,” Homuth explains. “From the thigh up, we’ve used a combination of nylon and lycra, and our magic fiber is used from the thigh down.” In essence, it’s resilient in all the places that traditional tights would be most likely to catch a snag. Stripped of any excess frills, the Essential is accompanied by clean, minimal white packaging—all in an effort to bring customers the best possible product at the lowest possible price.
    </p>
</section>

<div>
    image
</div>

<section>
    <p>
        Why now?
    </p>
    <p>
        “We launched these as soon as we were able to lower our cost to produce enough to be able to offer Essentials quite literally at cost,” Homuth explains. The company isn’t making money off of the Essential; the entire goal is to make the product as widely accessible to as many people as possible. 
    </p>
    <p>
        “We had to ask ourselves, ‘How do we try to get more people to try Sheertex?’ Because that’s how we’ll eliminate disposable hosiery,” says Homuth. The Essential is the easiest way for someone who’s curious about Sheertex to ease themselves into the brand, start believing in the products, and start understanding what Sheertex is all about. “And then, of course, we hope they grow with us over time,” says Homuth.
    </p>
    <p>
        Lowering production costs
    </p>
    <p>
        Towards full automation
    </p>
    <p>
        While a pair of Sheertex may look like a traditional pair of pantyhose, they’re anything but, and therefore require special automated equipment to accommodate the unique knit. “If we were to walk into another pantyhose factory and run our tights through their machines, they would break because of how different and untraditional our material is,” explains Dave Cox, Head of Automation at Sheertex. To avoid this, they have a team of engineers dedicated to determining exactly how to customize and adjust traditional off-the-shelf machines to suit Sheertex’s distinct material.
    </p>
</section>

<div>
    2 imgs
</div>

<section>
    <p>
        What makes the Essential different
    </p>
    <p>
        All of Sheertex’s premium products are made with a very high-end, hand-sewn flatlock stitch, which has to be done by hand. The Essential, on the other hand, is created mostly through an automated process using heavily retrofitted equipment, which means that there is far less human labour required—which has also helped cut the costs roughly in half. But this isn’t a case of machines-overtaking-humans; instead, it allows the factory workers to be more efficient and effective. The Essential product design also features a more minimal waistband that’s similar to a traditional pair of pantyhose, which is thinner and easier to make. “With the improved patterns and ease of loading, it’s twice as fast to make, so that helps reduce our costs significantly,” explains Cox. 
    </p>
    <p>
        In the spirit of keeping things as minimal as possible, the Essential is available in three general sizes—Small/Medium, Large/Extra-Large, and 2XL/3XL—compared to the premium products, which are offered in seven sizes. As Sheertex’s automation process stands currently, the machines must be adjusted each time a new size needs to be created. Having three general sizes means they can batch up production to avoid having to frequently adjust their automated machines, which also contributes to the decreased price point since less adjustments and less labour are required.
    </p>
    <p>
        “At the end of the day, the Essential is a way for everyone to hopefully fall in love with our products and see that our mission is worth supporting,” 
    </p>
    <p>
        Making a lasting impact on the community & the environment
    </p>
    <p>
        The launch of the Essential plays into the same goal that Homuth has envisioned for Sheertex since day one: eliminating disposable hosiery by making resilient tights accessible to everyone. Even though Sheertex may not be making much of a profit with the new Essential, she is confident that it’s a key product to initiate newcomers into discovering what the company is all about. 
    </p>
    <p>
        “If you believe in Sheertex and believe in what we’re trying to do for the world—which is to eliminate disposable hosiery, for good—the way that you can support our mission is by buying our premium products so that we can continue to fund our productions,” Homuth explains. Profits made from the higher-end premium products are invested into research and development, growing the company, and continuing to optimize production to lower costs on other products.
    </p>
    <p>
        “At the end of the day, the Essential is a way for everyone to hopefully fall in love with our products and see that our mission is worth supporting,” Homuth says.  “I think that as we grow and more and more people begin to take the leap towards Sheertex, we inch closer and closer to our goal of eliminating all disposable hosiery.”
    </p>
    <a>shop essential sheer tights</a>
</section>

<section>
    <div>next article block</div>
    <div>more from the lab block</div>
</section>