<div class="container-land">
  <div class="">
  <div class="contentOne">
    <h1>Control. Birth control</h1>
    <p>Birth control for you. Prescribed online, delivered to your door.</p>
    <a>Get started</a>
    <p>*Free 2-day delivery</p>
  </div>
    <div class="imgOne">
      <img src="https://felixforyou.ca/storage/app/media/media/birth%20control%20desktop.jpg" align="middle"/>
    </div>
  </div>
  
  <section class="section-style section-how-works mt-200">
        <div class="container">

            <div class="relative-wrapper tright mb-40">

                

                <div class="sh-left-box custom-mt-more hiw-custom">
                    <div class="content-card hiw-card hiw-custom">

                        <div class="row">
                            <div class="col-md-12">
                                <h6>
                                    We give you the control.
                                </h6>
                                <p>Know what you want? Let’s get it for you. Not sure? Connect with one of our doctors and find out.</p>

<p class="mb-0">Either way, let’s put the control back in birth control and get you what you need, stat.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

                <div class="mw-1040 mt-60 check-section">
                    <div class="row">
                                                    <div class="col-md-6 text-block-check">
                                <div class="float-check"><i class="fas fa-check-circle"></i></div>
                                <div class="float-content">
                                    <h6>Get the right birth control for you</h6>
                                    <p data-pm-slice="1 1 []">Pick the medication you know and love, or ask the doctor to make a recommendation based on your medical history.</p>
                                </div>
                            </div>
                                                    <div class="col-md-6 text-block-check">
                                <div class="float-check"><i class="fas fa-check-circle"></i></div>
                                <div class="float-content">
                                    <h6>Stressed over refills?</h6>
                                    <p data-pm-slice="1 1 []">With Felix, you choose a refill schedule and get auto-refills so you will always get your meds on time, every time. </p>
                                </div>
                            </div>
                                                    <div class="col-md-6 text-block-check">
                                <div class="float-check"><i class="fas fa-check-circle"></i></div>
                                <div class="float-content">
                                    <h6>More than just birth control</h6>
                                    <p data-pm-slice="1 1 []">Aside from preventing pregnancy, most pills are known to improve acne, reduce PMS, and help make periods less painful, more regular, and lighter.</p>
                                </div>
                            </div>
                                                    <div class="col-md-6 text-block-check">
                                <div class="float-check"><i class="fas fa-check-circle"></i></div>
                                <div class="float-content">
                                    <h6>Interested in alternative methods?</h6>
                                    <p data-pm-slice="1 1 []">Our doctors can also prescribe the patch or the ring, because who wants to remember to take a pill every day?</p>
                                </div>
                            </div>
                                            </div>

                </div>

                <div class="center-content mt-60">
                    <a href="/submit-application/birth-control/account-setup" class="button-big button-orange button" id="get-started-middle" data-track="BC Get Started Tiles">
                        Get started
                    </a>
                </div>





        </div>

    </section>
  
</div>

<style>
  
  .container{pading-right: 0px!important; pading-left: 0px!important;}
  </style>