    <main id="main">        
           <div class="sheer-section__captions">
             <div class="dummyheader">
               <nav class="sheer-nav sheer-nav--hide-links sheer-nav--viewport-small">
                 <div class="sheer-nav__logo">
                     <img class="sheer-nav__logo__img" alt="sheer Logo" src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/sheertex-logo_black.png?v=1579184958">    
                 </div>
                 <div class="sheer-nav__mobile">
                   <div class="sheer-nav__main-bar">
                     <ul class="sheer-nav__main-bar__right">
                       <li class="sheer-nav__cart-link-holder">
                         <a class="sheer-nav__cart-link" data-event-category="header_click" data-event-action="secondary_nav" data-event-label="/products/sidekick" href="/products/classic-sheers">
                           <span class="btn">Shop Now</span>
                         </a>          
                       </li>
                     </ul>
                   </div>
                 </div>
               </nav>
             </div> 
             <div class="svg-image">
              <img src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/Fin-socks_4.svg?51450">
             </div>
              <h1 class="sheer-heading">9 Reasons you should stop buying flimsy pantyhose and start investing in Sheertex.</h1>
              <p class="sheer-para sheer-para--xlarge">So, your new pair of pantyhose ripped while you were getting dressed this morning. We’ve all been there. But in 2020, there is no excuse for single-wear pantyhose. That’s why we invented the most durable pantyhose on the market. We’re the first innovation in hosiery since 1958, and we’re here to stay.</p>
          </div>

        <div class="feature__set feature__set--copy-top" style="padding-top:0px;">
           <div class="feature">
              <div class="feature__image__holder">
                 <img class="feature__image" src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/9-reasons-1.jpg?v=1579139577">
              </div>
              <div class="feature__copy__holder">
                 <div class="feature__copy">
                   <div class="feature__copy__heading">Our sheers aren’t magic, they’re science.</div>
                    <div class="feature__copy__body">
                       <p>We’ve used advanced textile technology to turn the strongest fibers in the world into pantyhose. After 18 months of development and being told that we were trying to do the impossible, we achieved just that. We miniaturized the fibers found in the world's strongest materials (like climbing equipment) and created a proprietary knit that’s comfortable, durable, and revolutionary in the hosiery industry.</p>
                    </div>
                 </div>
              </div>
           </div>
           <div class="feature">
              <div class="feature__image__holder">
                 <img class="feature__image" src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/9-reasons-2.jpg?v=1579139769">
              </div>
              <div class="feature__copy__holder">
                 <div class="feature__copy">
                    <div class="feature__copy__heading">We’re committed to making your investment worth it.</div>
                    <div class="feature__copy__body">
                       <p>Each pair of Sheertex sheers contains up to $35 worth of fiber, while there are only pennies put into the pantyhose you have at home. We believe that you deserve nothing but the best, so the price you pay means sheers sewn with detail, precision, and care by real people in our Montreal-based HQ. We’re built to last and designed to make you feel your best.</p>
                    </div>
                 </div>
              </div>
           </div>
           <div class="feature">
              <div class="feature__image__holder">
                 <img class="feature__image" src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/9-reasons-3.jpg?v=1579139770">
              </div>
              <div class="feature__copy__holder">
                 <div class="feature__copy">
                    <div class="feature__copy__heading">Happy people make happy pantyhose.</div>
                    <div class="feature__copy__body">
                       <p>By investing in locally-made sheers, you’ll know that the hands that sew them are paid a living wage. We’re committed to supporting a high quality of life for our employees, at work and at home.</p>
                    </div>
                 </div>
              </div>
           </div>
           <div class="feature">
              <div class="feature__image__holder">
                 <img class="feature__image" src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/9-reasons-4.jpg?v=1579139769">
              </div>
              <div class="feature__copy__holder">
                 <div class="feature__copy">
                    <div class="feature__copy__heading">Female leadership, equitable pay, and equal opportunity should be the industry standard.</div>
                    <div class="feature__copy__body">
                       <p>Who better to create the most durable pantyhose on Earth than a woman who wears them every day? Our CEO and founder, Katherine Homuth, is a serial entrepreneur and angel investor who has never backed down from the challenge of making the impossible, possible. Women have a habit of getting things done, don’t they?</p>
                    </div>
                 </div>
              </div>
           </div>
           <div class="feature">
              <div class="feature__image__holder">
                 <img class="feature__image" src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/9-reasons-5.jpg?v=1579139770">
              </div>
              <div class="feature__copy__holder">
                 <div class="feature__copy">
                    <div class="feature__copy__heading">We’re better to Mother Nature.</div>
                    <div class="feature__copy__body">
                       <p>Choosing high-quality, long-lasting Sheertex sheers over made-to-break pantyhose means less waste. Every year 2 BILLION pairs of flimsy pantyhose end up in landfills. We’re here to put an end to planned obsolescence, and to give Mother Nature a break with pantyhose that’s built to last</p>
                    </div>
                 </div>
              </div>
           </div>
           <div class="feature">
              <div class="feature__image__holder">
                 <img class="feature__image" src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/9-reasons-6.jpg?v=1579139770">
              </div>
              <div class="feature__copy__holder">
                 <div class="feature__copy">
                    <div class="feature__copy__heading">We’re made for every body, and any body.</div>
                    <div class="feature__copy__body">
                       <p>We know that one size does not fit all, especially when it comes to pantyhose. Sheertex is proud to make sheers for all bodies, which is why we offer sizes Short-Tall and S-2/3XL. We work hard to improve and expand our sizing based on the feedback you give us because after all, we just want you to feel good.</p>
                    </div>
                 </div>
              </div>
           </div>
           <div class="feature">
              <div class="feature__image__holder">
                 <img class="feature__image" src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/9-reasons-7.jpg?v=1579139770">
              </div>
              <div class="feature__copy__holder">
                 <div class="feature__copy">
                    <div class="feature__copy__heading">We’re here to help you do you.</div>
                    <div class="feature__copy__body">
                       <p>Get through your day without worrying about outfit emergencies. We may not be able to save your white shirt from spilled coffee, but we can guarantee that our pantyhose will make it through the day rip-free.</p>
                    </div>
                 </div>
              </div>
           </div>
           <div class="feature">
              <div class="feature__image__holder">
                 <img class="feature__image" src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/9-reasons-8.jpg?v=1579139769">
              </div>
              <div class="feature__copy__holder">
                 <div class="feature__copy">
                    <div class="feature__copy__heading">We last 10x longer than the other guys. When life happens, we’ve got you covered.</div>
                    <div class="feature__copy__body">
                       <p>Our sheers are stronger than anything else on the market. For real. But we know that you’ve got to expect the unexpected, which is why we offer our 30 Day Guarantee. We cover any product damages up to 30 days after delivery, no strings attached.</p>
                    </div>
                 </div>
              </div>
           </div>
           <div class="feature">
              <div class="feature__image__holder">
                 <img class="feature__image" src="https://cdn.shopify.com/s/files/1/0114/4120/9408/files/9-reasons-9.jpg?v=1579139770">
              </div>
              <div class="feature__copy__holder">
                 <div class="feature__copy">
                    <div class="feature__copy__heading">Skeptical? You’re not the only one.</div>
                    <div class="feature__copy__body">
                       <p>We know it sounds too good to be true, so take it from someone else. TIMES named us one of their best inventions of 2018, and you can check out the thousands of reviews on our website. We’re real as can be.</p>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="sheer-section" style="margin-left:auto; margin-right:auto; text-align:center">
           <div class="sheer-footer">Meet your new best friend. We’ve got your back.</div>
          <div class= "btn-high">
            <a href="/products/classic-sheers">
           		<button class="btn">Buy Now</button>
            </a>
          </div>  
        </div>
     </main>
