<section class="tw-p-6">
    {% if cart.currency.iso_code == "CAD" %}
    <iframe style="width: 100%; height: 1100px; border: none; overflow-x: hidden;" scrolling="no" src="https://sheertexca.attn.tv/p/a95/landing-page"></iframe>
      {% elsif cart.currency.iso_code == "USD" %}
      <iframe style="width: 100%; height: 1100px; border: none; overflow-x: hidden;" scrolling="no" src="https://sheertex.attn.tv/p/V1A/landing-page"></iframe>
      {% endif %}
</section>