<div class="tw-text-center tw-px-40 msm:tw-px-6 tw-py-12">
  <h1 class="tw-mx-auto">
    Interested in carrying Sheertex at your store or website?
  </h1>
  <h3 class="tw-mx-auto">
    Sheertex is proud to partner with innovative retailers to share the world's most resilient tights. 
    <br>Please reach out to us below and we'll get back to you as soon as possible.
  </h3>
</div>

<div class="tw-px-60 msm:tw-px-6 tw-justify-items-center tw-items-center">

  <form class="mx-auto" id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/xvolaqoz" method="post">

    <fieldset id="fs-frm-inputs">
      <label for="full-name">Your Name *</label>
      <input type="text" name="name" id="full-name" placeholder="Your Name" required="">
  
      <label for="retailer-name">Retailer Name *</label>
      <input type="text" name="retailer name" id="retailer-name" placeholder="Retailer Name" required="">
  
      <label for="email-address">Email *</label>
      <input type="email" name="email" id="email-address" placeholder="email@domain" required="">
  
      <label for="phone-number">Phone Number * </label>
      <input type="text" name="phone number" id="phone-number" placeholder="Phone Number" required="">
  
      <label for="address">Address</label>
      <textarea rows="5" name="address" id="address" placeholder="Address"></textarea>
  
      <label for="social-media">Social Media Handles</label>
      <input type="text" name="social media" id="social-media" placeholder="@facebook / @instagram">
  
      <label for="message">Message</label>
      <textarea rows="5" name="message" id="message" placeholder="Message"></textarea>
    </fieldset>
    
    <div class="tw-items-center tw-justify-items-center tw-w-full tw-flex">
      <input class="tw-mx-auto tw-bg-green-200" type="submit" value="Submit">
    </div>
    
  </form>
</div>

{% style %}
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}
{% endstyle %}
